body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

h1 {
    font-size: 42px;
    color: white;
    margin-block-start: unset;
    margin-block-end: unset;
}

h3 {
    margin-block-start: 5px;
    margin-block-end: 5px;
    font-weight: 700;
    color: black;
}

.pokemon-details {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.bg-details {
    background-color: #FC6C6D;
    height: 40vh;
    width: 580px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.global-info {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;

}


.arrow-back {
    width: 32px;
    height: 32px;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
}

.pokemon-id {
    color: white;
    text-align: end;
    font-weight: 600;
    font-size: 20px;
}

.pokemon-type {
    width: 30px;
    text-align: center;
    padding: 5px 30px;
    border-radius: 20px;
    background-color: #ff9696;
    color: white;
}

.pokemon-sprite {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
}

.pokemon-sprite img {
    position: relative;
    top: -250px;
    height: 300px;
}

.bg-details-chart {
    background-color: white;
    min-height: 540px;
    border-radius: 40px;
    margin-top: -40px;
    width: 580px;
}

.pokemon-details-nav {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.pokemon-details-nav button {
    background-color: white;
    border: transparent;
    cursor: pointer;
    padding-bottom: 15px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.10);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 700;
}

.pokemon-details-nav button:hover {
    border-bottom: 2px solid black;

}

.buttons-underline {
    border-bottom: 2px solid rgba(0, 0, 0, 0.10);
    margin: -2px;
    margin-left: 50px;
    margin-right: 50px;
}

.pokemon-details-content {
    margin-left: 50px;
    margin-top: 20px;
    font-size: 14px;
}

/* ------------------------About Section-------------------- */
.pokemon-details-about {
    text-align: left;
    width: 100%;
}

.pokemon-details-about td:first-child {
    width: 150px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
}

.pokemon-details-about td:nth-child(2) {
    font-weight: 500;
}

.gender-male {
    height: 16px;
    width: 16px;
    color: blue;
}

.gender-female {
    height: 16px;
    width: 16px;
    color: rgb(255, 69, 193);
    margin-left: 20px;
}

td {
    padding-bottom: 20px;
}

/* --------------------Base Stats Section--------------------------- */

.pokemon-details-basestats {}

.text-defenses {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
}

.pokemon-details-basestats td:first-child {
    width: 150px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
}

.pokemon-details-basestats td:nth-child(3) {
    display: flex;
    align-items: center;
    height: 20px;
}

.stats-progressbar {
    height: 10px;
    border-radius: 7px;
    width: 200px;
    margin-left: 75px;
    /* box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); */
}

.stats-progressbar::-webkit-progress-bar {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 7px;
}

.stats-progressbar::-webkit-progress-value {
    background-color: red;
    border-radius: 7px;
    /* box-shadow: 1px 1px 5px 3px rgba(255, 0, 0, 0.8); */
}

.stats-progressbar::-moz-progress-bar {
    /* style rules */
}

.type-gif{
    position: absolute;
    /* background-color: rgba(0, 0, 0, 0.112); */
    width: 200px;
    margin-left: 75px;
}
.type-gif img{
    position: relative;
    /* top: -7px; */
    height: 18px;
}









.d-none {
    display: none;
}