body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* background-color: black; */
    /* overflow: hidden; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: space-between;
}

h1 {
    font-size: 42px;
    color: white;
    margin-block-start: unset;
    margin-block-end: unset;
}

h3 {
    margin-block-start: 5px;
    margin-block-end: 5px;
    font-weight: 700;
    color: black;
}

/* Loader */

.loader-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* background-image: url(./img/background.gif);
    backdrop-filter: blur(5px); */
    height: 100vh;
    width: 100vw;
    z-index: 3;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #f13d3d transparent #3d5af1 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* -----------------header-------------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;

}

.header-img {
    width: 96px;
    height: 96px;
    /* margin-top: 27px; */
    margin: 27px 0px;
    margin-left: 40px;
}

form input {
    height: 24px;
    padding: 15px 5px;
    border-radius: 10px;
    border: none;
    background-color: #ffffff23;
    outline: none;

}

form input::placeholder {
    color: white;
}

form input:focus {
    background-color: rgba(255, 255, 255, 0.3);
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.submit-search {
    cursor: pointer;
    background-color: #ffffff23;
    padding: 6px 20px;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    font-size: 16px;
    margin-left: 20px;
    border: none;
}

.submit-search:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.gimmick {
    display: flex;
    flex-direction: column;
    padding-bottom: 27px;
}

.eevee {
    height: 27px;
    width: 100%;
    object-fit: contain;
}


.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.show-more-pokemon {
    cursor: pointer;
    /* background-color: #5c5c5c; */
    padding: 10px 25px;
    color: black;
    font-weight: 1000;
    border-radius: 20px;
    font-size: 16px;
    margin-bottom: 20px;
    animation: change-color 7s linear infinite;
}

@keyframes change-color {
    0% {
        background-color: rgb(118, 201, 223);
    }

    10% {
        background-color: rgb(187, 68, 187);
    }

    20% {
        background-color: rgb(255, 204, 44);
    }

    30% {
        background-color: rgb(110, 183, 0);
    }

    40% {
        background-color: rgb(255, 151, 48);
    }

    50% {
        background-color: rgb(6, 125, 74);
    }

    60% {
        background-color: rgb(44, 118, 142);
    }

    70% {
        background-color: rgb(203, 99, 40);
    }

    80% {
        background-color: rgb(117, 124, 130);
    }

    90% {
        background-color: rgb(174, 42, 36);
    }

    100% {
        background-color: rgb(118, 201, 223);
    }
}


.show-more-pokemon:hover {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

/* generations */
.generations {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.select-generations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h2 {
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: #ffffff23;
}

.select-generations button {
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 800;
    background-color: #ffffff23;
    color: white;
    border: none;
    margin: 5px;
}

.select-generations button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

/* .bg {
    background-image: url(./img/background.gif);
    background-repeat: repeat;
    background-size: contain;
    filter: blur(2px);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
} */

.all-pokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    z-index: 1;
}

.container-every-pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.container-every-pokemon:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.every-pokemon {
    /* border-radius: 10px; */
    width: 110px;
    /* margin-bottom: 5px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.every-pokemon-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #ffffff23;
    width: 110px;
    /* border-radius: 10px; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.poke-pic {
    width: 100px;
    height: 100px;
}

/* .poke-gifs {
    object-fit: contain;
    width: 30px;
    height: 30px;
} */


/* ------------------------Pokemon details section-------------------- */
.pokemon-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 2;
    animation-name: slidein;
    animation-duration: 700ms;
}

@keyframes slidein {
    0% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(0%);
    }
}

.blur {
    filter: blur(5px);
}

.anim-fadeout {
    animation-name: fadeout;
    animation-duration: 500ms;
}

@keyframes fadeout {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(-100%);
    }
}

.bg-details {
    background-color: #FC6C6D;
    height: 40vh;
    width: 580px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

}

.global-info {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;

}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-back {
    width: 32px;
    height: 32px;
    color: white;
    cursor: pointer;
}

.pokemon-id {
    color: white;
    text-align: end;
    font-weight: 600;
    font-size: 20px;
}

.pokemon-type {
    margin-right: 5px;
    width: 60px;
    text-align: center;
    padding: 5px 30px;
    border-radius: 20px;
    color: white;
}

.description {
    color: white;
    margin-top: 5px;
    background-color: #5c5c5c;
    padding: 5px 15px;
    border-radius: 15px;
    padding-top: 10px;
    border-top-left-radius: unset;
}


.description-head {
    color: white;
    /* font-size: 14px; */
    position: relative;
    top: 13px;
    left: 0px;
    background-color: #5c5c5c;
    width: 100px;
    padding: 5px 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.pokemon-sprite {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
}

.pokemon-sprite img {
    position: relative;
    top: -230px;
    height: 300px;
}

.bg-details-chart {
    background-color: white;
    /* min-height: 540px; */
    height: 42vh;
    border-radius: 40px;
    margin-top: -40px;
    width: 580px;
}

.pokemon-details-nav {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.pokemon-details-nav button {
    background-color: white;
    border: transparent;
    cursor: pointer;
    padding-bottom: 15px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.10);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 700;
}

.pokemon-details-nav button:hover {
    border-bottom: 2px solid black;

}

.buttons-underline {
    border-bottom: 2px solid rgba(0, 0, 0, 0.10);
    margin: -2px;
    margin-left: 50px;
    margin-right: 50px;
}

.pokemon-details-content {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    font-size: 14px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------About Section-------------------- */
.pokemon-details-about {
    text-align: left;
    width: 100%;
}

.pokemon-details-about td:first-child {
    width: 150px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
}

.pokemon-details-about td:nth-child(2) {
    font-weight: 500;
}

.gender-male {
    height: 16px;
    width: 16px;
    color: blue;
}

.gender-female {
    height: 16px;
    width: 16px;
    color: rgb(255, 69, 193);
    margin-left: 20px;
}

td {
    padding-bottom: 20px;
}


/* --------------------Base Stats Section--------------------------- */

.text-defenses {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
}

.pokemon-details-basestats td:first-child {
    width: 150px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
}

.pokemon-details-basestats td:nth-child(3) {
    display: flex;
    align-items: center;
    height: 20px;
}

.stats-progressbar {
    height: 10px;
    border-radius: 7px;
    width: 200px;
    /* margin-left: 20px; */
    /* box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); */
}

.stats-progressbar::-webkit-progress-bar {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 7px;
}

.stats-progressbar::-webkit-progress-value {
    background-color: red;
    border-radius: 7px;
}

/* .stats-progressbar::-moz-progress-bar {
    style rules 
}*/

.type-gif {
    position: absolute;
    /* background-color: rgba(0, 0, 0, 0.112); */
    width: 200px;
    /* margin-left: 20px; */
}


.type-gif img {
    position: relative;
    /* top: -7px; */
    height: 18px;
}


/* --------------------Evolution--------------------------- */
.pokemon-details-evolution {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* min-height: 400px; */
    background-image: url(./img/background_evolution.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    height: 250px;
}

.evolution-shell {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.evolution-border {
    border: 5px solid #ff9696;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.evolution-names {
    display: flex;
    justify-content: space-between;
}

.evolution-names span {
    width: 110px;
    text-align: center;
}

/* --------------------Moves--------------------------- */
.pokemon-details-moves {
    height: 100%;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(2, 220px);
    grid-gap: 10px;
    width: 100%;
}

.pokemon-details-moves::-webkit-scrollbar {
    width: 8px;
}

.pokemon-details-moves::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.pokemon-details-moves::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.5);
}

.pokemon-moves {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    border: 1px solid black;
    border-radius: 20px;
}

footer {
    min-height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer a {
    margin: 0px 5px;
}

/* general */

.d-none {
    display: none;
}

/* responsive */

@media(max-width:650px) {

    .bg-details {
        width: 500px;
    }

    .bg-details-chart {
        width: 500px;
    }

    .pokemon-details-moves {
        grid-template-columns: repeat(2, 190px);
        /* grid-gap: 10px; */
    }

}

@media(max-width:600px) {

    header {
        flex-direction: column;

    }

    .header-img {
        margin-left: unset;
    }

    .search {
        margin-right: unset;
    }
}

@media(max-width:550px) {

    .bg-details {
        width: 450px;
        /* height: 35vh; */
    }

    .bg-details-chart {
        width: 450px;
        /* min-height: 480px; */
    }

    .pokemon-sprite {
        height: 60px;
    }

    .pokemon-sprite img {
        top: -160px;
        height: 230px;
    }

    td {
        padding-bottom: 15px;
    }

    .pokemon-details-content {
        height: 355px;
    }

    .pokemon-details-moves {
        grid-template-columns: repeat(1, 335px);
        grid-gap: 5px;
    }

    .evolution-border {
        height: 80px;
        width: 80px;
    }

    .evolution-border img {
        height: 75px;
        width: 75px;
        object-fit: contain;
    }

    .evolution-names span {
        width: 90px;
    }
}

@media(max-width:500px) {

    .bg-details {
        width: 400px;
        /* height: 35vh; */
    }

    .bg-details-chart {
        width: 400px;
    }

    .pokemon-sprite {
        height: 50px;
    }

    .pokemon-sprite img {
        top: -150px;
        height: 210px;
    }

    .global-info {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 25px;
    }

    .pokemon-details-nav {
        padding-left: 30px;
        padding-right: 30px;
    }

    .pokemon-details-content {
        margin-left: 30px;
        margin-right: 30px;
    }

    .description span {
        font-size: 14px;
    }

    .pokemon-details-moves {
        grid-template-columns: repeat(1, 330px);
    }

    .evolution-border {
        height: 70px;
        width: 70px;
    }

    .evolution-border img {
        height: 65px;
        width: 65px;
        object-fit: contain;
    }

    .evolution-names span {
        width: 80px;
    }


}

@media(max-width:450px) {

    h1 {
        font-size: 32px;
    }

    h3 {
        margin-block-start: unset;
        margin-block-end: unset;
    }

    .submit-search {
        margin-left: 10px;
    }

    .description span {
        font-size: 12px;
    }

    .arrow-back {
        width: 24px;
        height: 24px;
    }


    form input {
        border-radius: 10px;
    }

    .bg-details {
        width: 350px;
        /* height: 30vh; */
    }

    .bg-details-chart {
        width: 350px;
    }

    .pokemon-sprite img {
        top: -130px;
        height: 180px;
    }

    .description {
        line-height: 15px;
    }

    .pokemon-details-moves {
        grid-template-columns: repeat(1, 280px);
    }

    .evolution-border {
        height: 60px;
        width: 60px;
    }

    .evolution-border img {
        height: 55px;
        width: 55px;
        object-fit: contain;
    }

    .pokemon-details-content {
        height: 250px;
        margin-top: 10px;
    }

    .evolution-names span {
        width: 70px;
    }

    td {
        padding-bottom: 5px;
    }

    .stats-progressbar {
        width: 150px;
    }

    .type-gif {
        width: 150px;
    }

    .gender-female {
        margin-left: unset;
    }

    .pokemon-details-about td:first-child {
        width: 110px;
    }
}

@media(max-width:400px) {

    .bg-details {
        height: 45vh;
    }

    .bg-details-chart {
        width: 350px;
        height: 350px;
    }



    .description {
        border-top-left-radius: 10px;
        padding-top: 5px;
    }

    .pokemon-sprite img {
        top: -150px;
        width: 180px;
        height: 180px;
    }

    .pokemon-sprite {
        height: 30px;
    }

    .pokemon-details-content {
        height: 250px;
    }

}

@media(max-width:350px) {
    form input {
        width: 150px;
    }

    .description-head {
        display: none;
    }

    .pokemon-sprite img {
        top: -115px;
        width: 150px;
        height: 150px;
    }
    .bg-details-chart {
        width: 300px;
    }

    .bg-details {
        width: 300px;
    }

    .pokemon-details-moves {
        grid-template-columns: repeat(1, 220px);
    }

    .pokemon-details-nav button {
        padding-bottom: 5px;
    }

    .pokemon-details-evolution {
        width: 240px;
    }

    .pokemon-details-nav {
        padding-left: 7px;
        padding-right: 7px;
    }

    .pokemon-details-content {
        margin-left: 20px;
        margin-right: 20px;
    }

    .pokemon-type {
        padding: 5px 20px;
    }

}